<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

<header>
    <h1>
    <span>Proway</span><span>Computers</span>
    </h1>

    <nav>
         <ul>
            <li><a>Produtos</a> </li>
            <li><a>Carrinho</a></li>
            <li><a>Contato</a></li>
            <li><a></a></li>
            <li><a></a></li>
            <li><a ></a></li>
        </ul>
    </nav>
</header>

    
</body>
</html>